
<div class="container">
  <div class="profile-page tx-13">
    <div class="col-12 grid-margin">
      <div class="profile-header">
        <div class="cover">
          <div class="gray-shade"></div>

          <!-- <img src="../../assets/back3.jpg" alt="profile cover" /> -->

          <img
            src="https://bootdey.com/img/Content/bg1.jpg"
            alt="BackGround"
            width="1113"
            height="200"
          />

          <div
            class="cover-body d-flex justify-content-between align-items-center"
          >
            <div class="image">
              <img
                class="profile-pic"
                src="assets/images/ketki.jpg"
                alt="profile"
              />
              <span class="profile-name text-white">{{ user.UserName }}</span>
            </div>

            <div class="d-none d-md-block">
              <button class="btn btn-white btn-icon-text btn-edit-profile">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-edit btn-icon-prepend"
                  class="text-white"
                >
                  <path
                    d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
                  ></path>

                  <path
                    d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
                  ></path>
                </svg>

                <a href="/editprofile" class="text-white"> Edit profile</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  />

  <div class="container">
    <div class="page-inner no-page-title">
      <!-- start page main wrapper -->

      <div id="main-wrapper">
        <div class="row">
          <div class="col-lg-5 col-xl-3">
            <div class="card card-white grid-margin">
              <div class="header-links">
                <ul class="links align-items-center mt-3 mt-md-0">
                  <li
                    class="
                      header-link-item
                      ml-3
                      pl-3
                      border-left
                      d-flex
                      align-items-center
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-user mr-1 icon-md"

                    >
                   
                      <path
                        d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
                      ></path>

                      <circle cx="12" cy="7" r="4"></circle>
                    </svg> &nbsp;

                    <a class="pt-1px d-none d-md-block" href="userprofile"
                      >My Profile</a
                    >
                  </li>
                  <!--
                    
                  <li
                    class="
                      header-link-item
                      ml-3
                      pl-3
                      border-left
                      d-flex
                      align-items-center
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-users mr-1 icon-md"
                    >
                      <path
                        d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"
                      ></path>

                      <circle cx="9" cy="7" r="4"></circle>

                      <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>

                      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>&nbsp;

                    <a class="pt-1px d-none d-md-block" href="#"
                      >Friends <span class="text-muted tx-12"></span></a
                    >
                  </li>
                  <br />
                  <li
                    class="
                      header-link-item
                      ml-3
                      pl-3
                      border-left
                      d-flex
                      align-items-center
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-image mr-1 icon-md"
                    >
                      <rect
                        x="3"
                        y="3"
                        width="18"
                        height="18"
                        rx="2"
                        ry="2"
                      ></rect>

                      <circle cx="8.5" cy="8.5" r="1.5"></circle>

                      <polyline points="21 15 16 10 5 21"></polyline>
                    </svg>&nbsp;

                    <a class="pt-1px d-none d-md-block" href="#">Shouts</a>
                  </li>
                  -->


                  
                  <br />
                  <i class="fa fa-power-off" style="font-size:22px"> </i>&nbsp;
                  
                  <a class="text-primary"(click)="logoutUser()">Logout</a>
                 
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-xl-6">
            <div class="card card-white grid-margin">
              <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                  <div class="post">
                    <textarea
                      id="TextData"
                      class="form-control"
                      placeholder="Post"
                      rows="4"
                      name="TextData"
                      [(ngModel)]="text"
                      #TextData="ngModel"
                    ></textarea>

                    <div class="post-options">
                      <input
                        type="file"
                        [(ngModel)]="fileData"
                        (change)="onChange($event)"
                      />
                      <button class="btn btn-outline-primary">
                        Post
                      </button>

                     
                   
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="profile-timeline">
              <ul class="list-unstyled">
                <li class="timeline-item">
                  <div class="card card-white grid-margin">
                    <div class="card-body" *ngFor="let user of user_shouts">
                      <div class="timeline-item-header">
                      
                        <img
                          src="assets/images/ketki.jpg"
                          [alt]="user.FirstName"
                        />
                       
                        <p>
                          {{ user.FirstName }} {{ user.LastName
                          }}<span> posted a shout</span>
                        </p>
                           
                        <small>{{ user.DateCreated }} </small>
                        <br/><br/>
                        <h6 class="timeline-comment-text shout">
                          {{ user.TextContent }}
                        </h6>
                        <video
                          [src]="user.File"
                          *ngIf="user.FileType == 'video'"
                          controls
                        ></video>
                        <audio
                          [src]="user.File"
                          *ngIf="user.FileType == 'audio'"
                          controls
                        ></audio>
                        <div class="shouts">
                          <img
                            [src]="user.File"
                            *ngIf="user.FileType == 'image'"
                          />
                        </div>
                      </div>

                      <div class="timeline-options">
                        
                          <i class="fa fa-comment"></i> 
                        
                      </div>
                      <div *ngFor="let comment of user_comments">
                        <div *ngIf="comment.ShoutsId == user.ShoutsId">
                          <div class="timeline-comment">
                            <div class="timeline-comment-header">
                              <img [src]="comment.ProfilePicURL" alt="" />

                              <p>
                                {{ comment.FirstName }} {{ comment.LastName
                                }}<small>{{ comment.DateCreated }}</small>
                              </p>
                            </div>

                            <p class="timeline-comment-text">
                              {{ comment.CommentContent }}
                            </p>
                          </div>
                        </div>
                      </div>

                      <textarea
                        class="form-control"
                        [attr.id]="user.FirstName"
                        placeholder="comment"
                        rows="2"
                        [(ngModel)]="CommentContent"
                      ></textarea>
                      <p></p>
                      <button
                        class="btn btn-outline-primary float-right"
                        (click)="shoutId(user.ShoutsId)"
                      >
                        comment
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          
            <div class="page-footer">
              <p>Copyright © 2020 Evince All rights reserved.</p>
            </div>
          </div>

          <div class="col-lg-5 col-xl-3">
            <div class="card card-white grid-margin">
             
               <div class="p-1 bg-light rounded  shadow-sm mb-3">
            <div class="input-group ">
              <input type="search" placeholder="Search.." aria-describedby="button-addon1" class="form-control rounded-pill border-primary bg-light">
              <div class="input-group-append"> &nbsp;
                <button id="button-addon1" type="submit" class="btn btn-link text-primary rounded-pill "><i class="fa fa-search"></i></button>
              </div>
            </div>
           
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
