<div class="container">
  <div class="row">
    <div class="col-6" id="col-left">
      <img src="assets\images\shoutout.jpg" />
    </div>
    <div class="col-6" id="col-right">
      <img src="assets\images\shoutout.jpg" id="logoimg" />
      <h1 class="font-size">Happening Now</h1>
      <h5 class="font-size">Join ShoutBox Today.</h5>
      <div>
        <button class="btn btn-block btn-primary btn-xl" id="new-board-btn">
          <a href="\register" class="bg-primary rounded-pill text-white"
            >Sign up</a
          >
        </button>
      </div>
      <div>
        <button class="btn btn-block btn-secondary btn-xl">
          <a
            href="\login"
            class="bg-secondary rounded-pill text-white"
            id="new-board-btn"
            >Log in</a
          >
        </button>
        <div class="mt-5"></div>
      </div>
    </div>
  </div>
</div>
